<div class="col-md-3 col-sm-6">
    <div class="newsmag-post-box-a thumbnail-layout">
        <div class="newsmag-image">
            <a href="https://www.demos.machothemes.com/newsmag-lite/facebook-increases-friendships-by-50/">
                <img width="350" height="260" src="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/21_StockSnap_F55RKZ14X7-350x260.jpg" class="attachment-newsmag-post-horizontal size-newsmag-post-horizontal wp-post-image" alt="" srcset="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/21_StockSnap_F55RKZ14X7-350x260.jpg 350w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/21_StockSnap_F55RKZ14X7-300x223.jpg 300w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/21_StockSnap_F55RKZ14X7.jpg 560w" sizes="(max-width: 350px) 100vw, 350px" /> 
            </a>
            <span class="newsmag-post-box-a-category">
                    <a href="https://www.demos.machothemes.com/newsmag-lite/category/featured/">Featured</a>
                </span>
        </div>
        <h3><a href="https://www.demos.machothemes.com/newsmag-lite/facebook-increases-friendships-by-50/">Facebook increases friendships by 50%</a></h3>
        <div class="meta">
            <span class="nmicon-clock-o"></span> October 14, 2016
            <a class="newsmag-comments-link" href="https://www.demos.machothemes.com/newsmag-lite/facebook-increases-friendships-by-50/#comments">
                <span class=" nmicon-comment-o"></span> 0
            </a>
        </div> 
    </div>
</div>