<div class="site-branding container ">
    <div class="row">
        <div class="col-md-4 header-logo">
            <a class="site-title" href="https://www.demos.machothemes.com/newsmag-lite"> Crispy Content</a>
            <p class="site-description">A beautiful, curated crispy content!! </p>
        </div>
        <div class="col-md-8 header-banner">
            <a href="https://www.machothemes.com/themes/newsmag-lite/">
        <img width="728" height="90" src="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/12/header-banner.jpg" class="attachment-newsmag-wide-banner size-newsmag-wide-banner" alt="" srcset="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/12/header-banner.jpg 728w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/12/header-banner-300x37.jpg 300w" sizes="(max-width: 728px) 100vw, 728px" /> </a>
        </div>
    </div>
</div>
<!-- .site-branding -->
<nav id="site-navigation" class="main-navigation " role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><span class="nmicon-bars"></span></button>
                <div class="menu-all-pages-container">
                    <ul id="primary-menu" class="menu nav-menu menu">
                        <li id="menu-item-2121" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2121"><a href="/newsmag/">Home</a></li>
                        <li id="menu-item-2120" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-2120"><a href="https://www.demos.machothemes.com/newsmag-lite/blog-2/">Blog</a></li>
                        <li id="menu-item-2122" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-2122"><a href="https://www.demos.machothemes.com/newsmag-lite/category/featured/">Featured</a>
                            <ul class="sub-menu">
                                <li id="menu-item-2123" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-2123"><a href="https://www.demos.machothemes.com/newsmag-lite/category/technology/">Technology</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2125" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2125"><a href="https://www.demos.machothemes.com/newsmag-lite/category/tech/">Tech</a></li>
                                        <li id="menu-item-2126" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2126"><a href="https://www.demos.machothemes.com/newsmag-lite/category/world/">World</a></li>
                                        <li id="menu-item-2129" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2129"><a href="https://www.demos.machothemes.com/newsmag-lite/category/lifestyle/">Lifestyle</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2124" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2124"><a href="https://www.demos.machothemes.com/newsmag-lite/category/politics/">Politics</a></li>
                                <li id="menu-item-2127" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2127"><a href="https://www.demos.machothemes.com/newsmag-lite/category/media/">Media</a></li>
                                <li id="menu-item-2128" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2128"><a href="https://www.demos.machothemes.com/newsmag-lite/category/social/">Social</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <button href="#" class="search-form-opener" type="button"><span class="nmicon-search"></span>
                </button>
            </div>
        </div>
    </div>
</nav>
<!-- #site-navigation -->
<div class="header-search-form">
    <div class="container">
        <!-- Search Form -->
        <form role="search" method="get" id="searchform_topbar" action="https://www.demos.machothemes.com/newsmag-lite/">
            <label><span class="screen-reader-text">Search for:</span>
                <input class="search-field-top-bar " id="search-field-top-bar" placeholder="Type the search term" value="" name="s" type="search">
            </label>
            <button id="search-top-bar-submit" type="button" class="search-top-bar-submit "><span class="first-bar"></span><span class="second-bar"></span></button>
        </form>
    </div>
</div>