<ul>
    <li>
        <a href="https://www.demos.machothemes.com/newsmag-lite/top-technologies-to-use-nowdays/">Top technologies to use  nowdays</a>
    </li>
    <li>
        <a href="https://www.demos.machothemes.com/newsmag-lite/best-websites-to-to-help-you-improove-ads/">Best websites to to help you improove ads</a>
    </li>
    <li>
        <a href="https://www.demos.machothemes.com/newsmag-lite/mistakes-apple-made-with-the-new-iphone/">Mistakes Apple made with the new iPhone</a>
    </li>
    <li>
        <a href="https://www.demos.machothemes.com/newsmag-lite/5-useful-websites-for-every-entreprenour/">5 useful websites  for every entreprenour</a>
    </li>
    <li>
        <a href="https://www.demos.machothemes.com/newsmag-lite/changing-tastes-how-society-evolution-and-history-shape-our-personality/">Changing Tastes: how society, evolution and  history shape our personality.</a>
    </li>
</ul>