<ul>
    <li><a class='rsswidget' href='http://feedproxy.google.com/~r/Techcrunch/~3/Hyqbzf6UUQs/'>Baidu and Softbank’s SB Drive are bringing an autonomous bus service to Japan</a> <span class="rss-date">July 4, 2018</span>
        <div class="rssSummary">Chinese search engine giant Baidu have partnered with Softbank subsidiary SB Drive and manufacturer King Long to deploy a self-driving mini bus service to Japan early next year. The agreement was announced at Create Baidu, the company’s annual AI developer conference in Beijing. Under the agreement, a version of Baidu’s Apolong autonomous mini bus will be [&hellip;]</div>
        <cite>Kirsten Korosec</cite>
    </li>
    <li><a class='rsswidget' href='http://feedproxy.google.com/~r/Techcrunch/~3/2KcBfC_5yoU/'>Baidu just made its 100th autonomous bus ahead of commercial launch in China</a> <span class="rss-date">July 4, 2018</span>
        <div class="rssSummary">Baidu is preparing to launch a driverless service in China — and elsewhere — with another update to its Apollo autonomous driving platform and the mass production of Apolong, an autonomous mini bus that seats up to 14 people. Baidu made the announcements at Baidu Create 2018, the company’s annual AI developer conference. Baidu has [&hellip;]</div>
        <cite>Kirsten Korosec</cite>
    </li>
</ul>