<div class="col-md-4">
    <div class="newsmag-post-box-a posts-column-layout">
        <h2>
            <span>Politics</span>
        </h2>
        <div class="newsmag-image">
            <a class="newsmag-post-box-image" href="https://www.demos.machothemes.com/newsmag-lite/meet-the-newest-united-states-presidential-candidate-2/">
            <img width="350" height="260" src="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/9_StockSnap_HP2MPJT5B6-350x260.jpg" class="attachment-newsmag-post-horizontal size-newsmag-post-horizontal wp-post-image" alt="" srcset="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/9_StockSnap_HP2MPJT5B6-350x260.jpg 350w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/9_StockSnap_HP2MPJT5B6-300x223.jpg 300w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/9_StockSnap_HP2MPJT5B6.jpg 560w" sizes="(max-width: 350px) 100vw, 350px" /> </a>
            <span class="newsmag-post-box-a-category">
                <a href="https://www.demos.machothemes.com/newsmag-lite/category/politics/">Politics</a>
            </span>
        </div>
        <h3>
            <a href="https://www.demos.machothemes.com/newsmag-lite/meet-the-newest-united-states-presidential-candidate-2/">The newest United States presidential candidate</a>
        </h3>
        <div class="meta">
            <span class="nmicon-clock-o"></span> October 14, 2016 <a class="newsmag-comments-link" href="https://www.demos.machothemes.com/newsmag-lite/meet-the-newest-united-states-presidential-candidate-2/#comments"><span class=" nmicon-comment-o"></span> 0</a> </div>
        <p>All right. Well, take care yourself. I guess that’s what you’re best, presence old master? A tremor in the Force. The last time felt it&hellip; </p>
    </div>
    

    <div class="newsmag-blog-post-layout-b">
        <div class="row">
            <div class="col-sm-3 col-xs-4">
                <div class="newsmag-image">
                    <a href=" https://www.demos.machothemes.com/newsmag-lite/obama-hits-back-at-whacky-trump/">
                    <img width="65" height="65" src="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/4_StockSnap_YYG2919RXC-65x65.jpg" class="attachment-newsmag-recent-post-list-image size-newsmag-recent-post-list-image wp-post-image" alt="" srcset="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/4_StockSnap_YYG2919RXC-65x65.jpg 65w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/4_StockSnap_YYG2919RXC-150x150.jpg 150w" sizes="(     max-width: 65px) 100vw, 65px" /> </a>
                </div>
            </div>
            <div class="col-sm-9 col-xs-8">
                <div class="newsmag-title">
                    <h3>
                        <a href="https://www.demos.machothemes.com/newsmag-lite/obama-hits-back-at-whacky-trump/">Obama hits back at &#8216;whacky&#8217; Trump</a>
                    </h3>
                    <div class="meta">
                        <span class="nmicon-clock-o"></span> October 14, 2016 <a class="newsmag-comments-link" href="https://www.demos.machothemes.com/newsmag-lite/obama-hits-back-at-whacky-trump/#comments"><span class=" nmicon-comment-o"></span> 1</a> </div>
                </div>
            </div>
        </div>
    </div>


    <div class="newsmag-blog-post-layout-b">
        <div class="row">
            <div class="col-sm-3 col-xs-4">
                <div class="newsmag-image">
                    <a href=" https://www.demos.machothemes.com/newsmag-lite/gary-johns-what-is-aleppo/">
                    <img width="65" height="65" src="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/12_StockSnap_8YOB4GAYH8-65x65.jpg" class="attachment-newsmag-recent-post-list-image size-newsmag-recent-post-list-image wp-post-image" alt="" srcset="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/12_StockSnap_8YOB4GAYH8-65x65.jpg 65w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/12_StockSnap_8YOB4GAYH8-150x150.jpg 150w" sizes="(max-width: 65px) 100vw, 65px" /> </a>
                </div>
            </div>
            <div class="col-sm-9 col-xs-8">
                <div class="newsmag-title">
                    <h3>
                        <a href="https://www.demos.machothemes.com/newsmag-lite/gary-johns-what-is-aleppo/">Gary Johns: &#8216;What is Aleppo&#8217;</a>
                    </h3>
                    <div class="meta">
                        <span class="nmicon-clock-o"></span> October 5, 2016 <a class="newsmag-comments-link" href="https://www.demos.machothemes.com/newsmag-lite/gary-johns-what-is-aleppo/#comments"><span class=" nmicon-comment-o"></span> 5</a> </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="newsmag-blog-post-layout-b">
        <div class="row">
            <div class="col-sm-3 col-xs-4">
                <div class="newsmag-image">
                    <a href=" https://www.demos.machothemes.com/newsmag-lite/is-trumps-pitch-to-black-voters-a-lost-cause/">
                    <img width="65" height="65" src="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/10_StockSnap_SFLDBY847W-65x65.jpg" class="attachment-newsmag-recent-post-list-image size-newsmag-recent-post-list-image wp-post-image" alt="" srcset="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/10_StockSnap_SFLDBY847W-65x65.jpg 65w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/10_StockSnap_SFLDBY847W-150x150.jpg 150w" sizes="(max-width: 65px) 100vw, 65px" /> </a>
                </div>
            </div>
            <div class="col-sm-9 col-xs-8">
                <div class="newsmag-title">
                    <h3>
                        <a href="https://www.demos.machothemes.com/newsmag-lite/is-trumps-pitch-to-black-voters-a-lost-cause/">Is Trump&#8217;s pitch to black voters a lost cause?</a>
                    </h3>
                    <div class="meta">
                        <span class="nmicon-clock-o"></span> October 5, 2016 <a class="newsmag-comments-link" href="https://www.demos.machothemes.com/newsmag-lite/is-trumps-pitch-to-black-voters-a-lost-cause/#comments"><span class=" nmicon-comment-o"></span> 0</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>