<!-- saved from url=(0074)https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html -->
<html lang="en" class="gr__mdbootstrap_com">
    <% include ./partials/head %>

<body class="fixed-sn homepage-v2" data-gr-c-s-loaded="true">

    <!-- Navigation -->
    <header>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark stylish-color-dark">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#">Navbar</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Homepages</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-1.html">V1</a>
                            <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html">V2</a>
                            <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-3.html">V3</a>
                            <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-4.html">V4</a>
                            <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-5.html">V5</a>
                        </div>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Postpages</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/previews/templates/magazine/html/postpage/v-1.html">V1</a>
                            <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/previews/templates/magazine/html/postpage/v-2.html">V2</a>
                            <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/previews/templates/magazine/html/postpage/v-3.html">V3</a>
                            <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/previews/templates/magazine/html/postpage/v-4.html">V4</a>
                            <a class="dropdown-item waves-effect waves-light" href="https://mdbootstrap.com/previews/templates/magazine/html/postpage/v-5.html">V5</a>
                        </div>
                    </li>

                </ul>
                <!-- Links -->

                <!-- Search form -->
                <form class="form-inline">
                    <div class="md-form my-0">
                        <div class="waves-input-wrapper waves-effect waves-light">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        </div>
                    </div>
                </form>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->

    </header>
    <!--/ Navigation -->

    <% include ./partials/carousel %>

    <!-- Main layout -->
    <main>
        <div class="container-fluid">

            <!-- Magazine -->
            <div class="row mt-5">

                <!-- Main news -->
                <div class="col-xl-9 col-md-12 pl-0">

                    <!--Section: Magazine posts-->
                    <section class="section extra-margins listing-section">


                        <h4 class="font-weight-bold">
                            <strong>LATESTS NEWS</strong>
                        </h4>
                        <hr class="mr-4 red">


                        <!--First row-->
                        <div class="row mb-4 mr-3">

                            <!--Grid column-->
                            <div class="col-md-4 my-3">
                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/img (49).jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-4 text-left mt-3">

                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/img (33).jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-4 text-left mt-3">

                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/img (33).jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--/First row-->

                        <!--Second row-->
                        <div class="row  mb-4 mr-3">

                            <!--Grid column-->
                            <div class="col-md-6 my-3">
                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/img (113).jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6 text-left mt-3">

                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/img (39).jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--/Second row-->

                        <h4 class="font-weight-bold mt-5">
                            <strong>TOP NEWS</strong>
                        </h4>
                        <hr class="mr-4 red">

                        <!--Fourth row-->
                        <div class="row single-post mb-4 mr-3">
                            <!--Card-->
                            <div class="card mt-4 mx-3">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="/images/img (140).jpg" class="card-img-top" alt="sample image">
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--/Card image-->

                                <!--Social buttons-->
                                <div class="card-share">
                                    <div class="social-reveal">
                                        <!--Facebook-->
                                        <a type="button" class="btn-floating btn-fb waves-effect waves-light">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <!--Twitter-->
                                        <a type="button" class="btn-floating btn-tw waves-effect waves-light">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <!--Google -->
                                        <a type="button" class="btn-floating btn-gplus waves-effect waves-light">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                    <a class="btn-floating btn-action share-toggle float-right mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                                <!--/Social buttons-->

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>This is title of the news</strong>
                                    </h4>
                                    <hr>
                                    <!--Text-->
                                    <p class="card-text font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam veritatis, ducimus
                                        sit nostrum magnam in provident, suscipit, tenetur, ipsam animi doloribus. Tenetur
                                        consectetur distinctio mollitia.</p>

                                </div>
                                <!--/Card content-->

                                <!-- Card footer -->
                                <div class="mdb-color lighten-3 text-center">
                                    <ul class="list-unstyled list-inline font-small mt-3">
                                        <li class="list-inline-item pr-2 white-text">
                                            <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                        <li class="list-inline-item pr-2">
                                            <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                class="white-text">
                                                <i class="fa fa-comments-o pr-1"></i>12</a>
                                        </li>
                                        <li class="list-inline-item pr-2">
                                            <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                class="white-text">
                                                <i class="fa fa-facebook pr-1"> </i>21</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                class="white-text">
                                                <i class="fa fa-twitter pr-1"> </i>5</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Card footer -->
                            </div>
                            <!--/Card-->
                        </div>
                        <!--/Fourth row-->

                        <h4 class="font-weight-bold mt-5">
                            <strong>SPORT</strong>
                        </h4>
                        <hr class="mr-4 red">

                        <!--Fifth row-->
                        <div class="row mb-4 mr-3">

                            <!--Grid column-->
                            <div class="col-md-6 my-3">
                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/img (2).jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6 text-left mt-3">

                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/img (1).jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--/Fifth row-->

                        <!--Sixth row-->
                        <div class="row  mb-4 mr-3">

                            <!--Grid column-->
                            <div class="col-md-6 my-3">
                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/img (4).jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6 text-left mt-3">

                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/img (3).jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--/Sixth row-->

                        <h4 class="font-weight-bold mt-5">
                            <strong>LIFESTYLE</strong>
                        </h4>
                        <hr class="mr-4 red">

                        <!--Seventh row-->
                        <div class="row mb-4 mr-3">

                            <!--Grid column-->
                            <div class="col-md-6 my-3">
                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/4.jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6 text-left mt-3">

                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/3.jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--/Seventh row-->

                        <!--Eighth row-->
                        <div class="row  mb-4 mr-3">

                            <!--Grid column-->
                            <div class="col-md-6 my-3">
                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/1.jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6 text-left mt-3">

                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="/images/2.jpg" class="card-img-top" alt="sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Button-->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">
                                            <strong>Card title</strong>
                                        </h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                    <!--/.Card content-->

                                    <!-- Card footer -->
                                    <div class="mdb-color lighten-3 text-center">
                                        <ul class="list-unstyled list-inline font-small mt-3">
                                            <li class="list-inline-item pr-2 white-text">
                                                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-comments-o pr-1"></i>12</a>
                                            </li>
                                            <li class="list-inline-item pr-2">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-facebook pr-1"> </i>21</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#"
                                                    class="white-text">
                                                    <i class="fa fa-twitter pr-1"> </i>5</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card footer -->

                                </div>
                                <!--/.Card-->
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--/Eighth row-->

                    </section>
                    <!--/Section: Magazine posts-->

                    <!--Pagination dark-->
                    <nav>
                        <ul class="pagination pg-dark flex-center" style="height:auto">
                            <!--Arrow left-->
                            <li class="page-item">
                                <a class="page-link waves-effect waves-effect" aria-label="Previous">
                                    <span aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            <!--Numbers-->
                            <li class="page-item active">
                                <a class="page-link waves-effect waves-effect">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link waves-effect waves-effect">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link waves-effect waves-effect">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link wavfes-effect waves-effect">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link waves-effect waves-effect">5</a>
                            </li>

                            <!--Arrow right-->
                            <li class="page-item">
                                <a class="page-link waves-effect waves-effect" aria-label="Next">
                                    <span aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!--/Pagination dark grey-->

                </div>
                <!--/ Main news -->
                    <!-- Sidebar -->
                    <div class="col-xl-3 col-md-12 widget-column mt-0">     
                    <% include ./partials/categories %>
                    <% include ./partials/popularPosts %>
                    <% include ./partials/advertisement %>
                    <% include ./partials/newsletter %>
                    <% include ./partials/gallary %>
                    <% include ./partials/featuredPosts %>

                </div>
                <!--/ Sidebar -->
            </div>
            <!--/ Magazine -->
        </div>
    </main>
    <!--/ Main layout -->

    <% include ./partials/footer %>
    <% include ./partials/scripts %>

        <div class="hiddendiv common"></div>
</body>
</html>