<!-- Section: Advertisment -->
<section class="section mt-5">

    <h6 class="grey-text text-center mb-3">
        <strong>- Advertisment -</strong>
    </h6>

    <!--Jumbotron-->
    <div class="jumbotron text-center">

        <!--Title-->
        <h1 class="card-title h2-responsive mt-2">
            <strong>Material Design for Bootstrap</strong>
        </h1>
        <!--Subtitle-->
        <p class="blue-text mb-4 mt-5 font-weight-bold">Powerful and free Material Design UI KIT</p>

        <!--Text-->
        <div class="d-flex justify-content-center">
            <p class="card-text mb-3" style="max-width: 43rem;">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                Sed ut perspiciatis unde omnis iste natus.
            </p>
        </div>

        <hr class="my-4">

        <button type="button" class="btn btn-primary btn-sm waves-effect">Buy now
            <span class="fa fa-diamond ml-1"></span>
        </button>
        <button type="button" class="btn btn-outline-primary btn-sm waves-effect">Download
            <i class="fa fa-download ml-1"></i>
        </button>

    </div>
    <!--Jumbotron-->

</section>
<!--/ Section: Advertisment -->