<!--Card-->
<div class="card mt-4 mx-3">

    <!--Card image-->
    <div class="view overlay">
        <img src="/images/img (140).jpg" class="card-img-top" alt="sample image">
        <a>
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
    </div>
    <!--/Card image-->

    <!--Social buttons-->
    <div class="card-share">
        <div class="social-reveal">
            <!--Facebook-->
            <a type="button" class="btn-floating btn-fb waves-effect waves-light">
                <i class="fa fa-facebook"></i>
            </a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-tw waves-effect waves-light">
                <i class="fa fa-twitter"></i>
            </a>
            <!--Google -->
            <a type="button" class="btn-floating btn-gplus waves-effect waves-light">
                <i class="fa fa-google-plus"></i>
            </a>
        </div>
        <a class="btn-floating btn-action share-toggle float-right mdb-color lighten-3 waves-effect waves-light">
            <i class="fa fa-share-alt"></i>
        </a>
    </div>
    <!--/Social buttons-->

    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">
            <strong>This is title of the news</strong>
        </h4>
        <hr>
        <!--Text-->
        <p class="card-text font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam veritatis, ducimus sit nostrum magnam in provident,
            suscipit, tenetur, ipsam animi doloribus. Tenetur consectetur distinctio mollitia.</p>

    </div>
    <!--/Card content-->

    <!-- Card footer -->
    <div class="mdb-color lighten-3 text-center">
        <ul class="list-unstyled list-inline font-small mt-3">
            <li class="list-inline-item pr-2 white-text">
                <i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
            <li class="list-inline-item pr-2">
                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#" class="white-text">
                    <i class="fa fa-comments-o pr-1"></i>12</a>
            </li>
            <li class="list-inline-item pr-2">
                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#" class="white-text">
                    <i class="fa fa-facebook pr-1"> </i>21</a>
            </li>
            <li class="list-inline-item">
                <a href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#" class="white-text">
                    <i class="fa fa-twitter pr-1"> </i>5</a>
            </li>
        </ul>
    </div>
    <!-- Card footer -->
</div>
<!--/Card-->