<!-- Section: Featured posts -->
<section class="section widget-content mt-5">

    <!-- Heading -->
    <h4 class="font-weight-bold">
        <strong>FEATURED POSTS</strong>
    </h4>
    <hr class="red mb-4">

    <!--/ Card -->
    <div class="card card-body pb-0">
        <div class="single-post">

            <div class="row">
                <div class="col-4">

                    <!-- Image -->
                    <div class="view overlay">
                        <img src="/images/img (121).jpg" class="img-fluid rounded-0" alt="sample image">
                        <a>
                            <div class="mask waves-light waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>

                <!-- Excerpt -->
                <div class="col-8">
                    <h6 class="mt-0 mb-3">
                        <a>
                            <strong>This is title of the news</strong>
                        </a>
                    </h6>

                    <div class="post-data">
                        <p class="font-small grey-text mb-0">
                            <i class="fa fa-clock-o"></i> 18/08/2017</p>
                    </div>
                </div>
                <!--/ Excerpt -->
            </div>
            <!--/ First row -->
        </div>

        <div class="single-post">
            <!-- Second row -->
            <div class="row">
                <!-- Image -->
                <div class="col-4">
                    <div class="view overlay">
                        <img src="/images/img (30).jpg" class="img-fluid rounded-0" alt="sample image">
                        <a>
                            <div class="mask waves-light waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>
                <!--/ Image -->

                <!-- Excerpt -->
                <div class="col-8">
                    <h6 class="mt-0 mb-3">
                        <a>
                            <strong>This is title of the news</strong>
                        </a>
                    </h6>

                    <div class="post-data">
                        <p class="font-small grey-text mb-0">
                            <i class="fa fa-clock-o"></i> 21/08/2017</p>
                    </div>
                </div>
                <!--/ Excerpt -->
            </div>
            <!--/ Second row -->
        </div>

        <div class="single-post">
            <!-- Third row -->
            <div class="row">
                <!-- Image -->
                <div class="col-4">
                    <div class="view overlay">
                        <img src="/images/img (118).jpg" class="img-fluid rounded-0" alt="sample image">
                        <a>
                            <div class="mask waves-light waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>
                <!--/ Image -->

                <!-- Excerpt -->
                <div class="col-8">
                    <h6 class="mt-0 mb-3">
                        <a>
                            <strong>This is title of the news</strong>
                        </a>
                    </h6>

                    <div class="post-data">
                        <p class="font-small grey-text mb-0">
                            <i class="fa fa-clock-o"></i> 27/08/2017</p>
                    </div>

                </div>
                <!--/ Excerpt -->
            </div>
            <!--/ Third row -->
        </div>

        <div class="single-post">
            <!-- Fourth row -->
            <div class="row">
                <!-- Image -->
                <div class="col-4">
                    <div class="view overlay">
                        <img src="/images/img (124).jpg" class="img-fluid rounded-0" alt="sample image">
                        <a>
                            <div class="mask waves-light waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>
                <!--/ Image -->

                <!-- Excerpt -->
                <div class="col-8">
                    <h6 class="mt-0 mb-3">
                        <a>
                            <strong>This is title of the news</strong>
                        </a>
                    </h6>

                    <div class="post-data">
                        <p class="font-small grey-text mb-0">
                            <i class="fa fa-clock-o"></i> 15/09/2017</p>
                    </div>

                </div>
                <!--/ Excerpt -->
            </div>
            <!--/ Fourth row -->
        </div>

        <div class="single-post">
            <!-- Fifth row -->
            <div class="row">
                <!-- Image -->
                <div class="col-4">
                    <div class="view overlay">
                        <img src="/images/img (85).jpg" class="img-fluid rounded-0" alt="sample image">
                        <a>
                            <div class="mask waves-light waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>
                <!--/ Image -->

                <!-- Excerpt -->
                <div class="col-8">
                    <h6 class="mt-0  mb-3">
                        <a>
                            <strong>This is title of the news</strong>
                        </a>
                    </h6>

                    <div class="post-data">
                        <p class="font-small grey-text mb-0">
                            <i class="fa fa-clock-o"></i> 21/08/2018</p>
                    </div>
                </div>
                <!--/ Excerpt -->
            </div>
            <!--/ Fifth row -->
        </div>

        <div class="single-post">
            <!-- Sixth row -->
            <div class="row">
                <!-- Image -->
                <div class="col-4">
                    <div class="view overlay">
                        <img src="./images/img (119).jpg" class="img-fluid rounded-0" alt="sample image">
                        <a>
                            <div class="mask waves-light waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>
                <!--/ Image -->

                <!-- Excerpt -->
                <div class="col-8">
                    <h6 class="mt-0 mb-3">
                        <a>
                            <strong>This is title of the news</strong>
                        </a>
                    </h6>

                    <div class="post-data">
                        <p class="font-small grey-text mb-0">
                            <i class="fa fa-clock-o"></i> 13/09/2017</p>
                    </div>
                </div>
                <!--/ Excerpt -->
            </div>
            <!--/Sixth row -->
        </div>
    </div>
</section>
<!--/ Section: Featured posts -->