<!-- Popular posts -->
<section>
    <h4 class="font-weight-bold">
        <strong>POPULAR POSTS</strong>
    </h4>
    <hr class="red mb-4">
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-10 col-lg-6 col-xl-12 mx-auto">

            <!--Carousel Wrapper-->
            <div id="carousel-example-2" class="carousel slide carousel-fade carousel-img" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-2" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-example-2" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-2" data-slide-to="2" class="active"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item">
                        <div class="view">
                            <img class="d-block w-100 rounded" src="/images/city2.jpg" alt="First slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-responsive font-weight-bold">Light mask</h3>
                            <p>First text</p>
                        </div>
                    </div>
                    <div class="carousel-item active carousel-item-left">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100 rounded" src="/images/city3.jpg" alt="Second slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-responsive font-weight-bold">Strong mask</h3>
                            <p>Secondary text</p>
                        </div>
                    </div>
                    <div class="carousel-item carousel-item-next carousel-item-left">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100 rounded" src="/images/city1.jpg" alt="Third slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-responsive font-weight-bold">Slight mask</h3>
                            <p>Third text</p>
                        </div>
                    </div>
                </div>
                <!--/.Slides-->

                <!--Controls-->
                <a class="carousel-control-prev" href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#carousel-example-2"
                    role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="https://mdbootstrap.com/previews/templates/magazine/html/homepage/v-2.html#carousel-example-2"
                    role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>
<!-- Popular posts -->